---
import Launches from "@/components/Launches.astro";
import Layout from "@/layouts/Layout.astro";

const setCookie = Astro.request.headers.set("name","value1")
const cookies = Astro.request.headers.get("name")
// if (cookies) {
// 	console.log("🚀 ~ file: index.astro:6 ~ cookies:", cookies)
// }

---

<Layout title="home">
	<h1>{cookies}</h1>
	<Launches/>
</Layout>


