---
interface Props {
	title: string;
}
const {title} = Astro.props
import { Counter } from '@/components/Counter';
import Header from '@/components/Header.astro';
import { ViewTransitions } from 'astro:transitions';

---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body>
    <Header/>
		<Counter transition:persist client:visible/>
    <slot />
	</body>
</html>

<style :global>
  :root {
    margin: 0;
    font-family:  'Segoe UI', Roboto;      
    color-scheme: dark;
    background-color: #13151a;
  }
</style>